<%inherit file="/admin_frame.inc.html" />
<%namespace name="form_utils" file="/niuhe/utils/bootstrap_form_utils.inc.html" />

<%block>
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-content">
				<h4 class="page-header">
					${title|h}
                    % if not readonly and list_args.get('allow_add', True):
					<small>
						<a href="${url_for('.' + view_cls, name = 'add')}">${list_args.get('add_text', '创建主机')}</a>
					</small>
                    % endif
				</h4>

                <form id="id_list_form" action="" method="get">
                   
                    <%call expr="form_utils.form_table(sample_form, items,
                        only_fields = only_fields, skip_fields = skip_fields,
                        tail_cols = ['操作'])" args="item">
                        <td>
                           
                        </ta>
                    </%call>

                    <input id="id_page_index" type="hidden" name="page" value="${page_index}" />
                    <script>
                        function goToPage(index) {
                            $('#id_page_index').val(index);
                            $('#id_list_form').submit();
                        }
                    </script>

                    <nav>
                        <ul class="pagination pagination-sm">
                            <%
                                pagings = [
                                    (1, 				'icon',	'fast-backward'),
                                    (page_index - 1, 	'icon',	'backward'),
                                    (page_index,		'text',	'%d / %d' % (page_index, max_page)),
                                    (page_index + 1, 	'icon',	'forward'),
                                    (max_page,	 		'icon',	'fast-forward'),
                                ]
                            %>
                            % for page, type_, info in pagings:
                                <%
                                    if 1 <= page <= max_page and page != page_index:
                                        url = 'javascript: goToPage(%d)' % page
                                    else:
                                        url = 'javascript: void(0)'
                                %>
                                <li>
                                    % if 'icon' == type_:
                                        <a href="${url}"><i class="fa fa-${info}"></i></a>
                                    % else:
                                        <a href="#" class="disabled">${info|h}</a>
                                    % endif
                                </li>
                            % endfor
                        </ul>
                    </nav>
                </form>
			</div>
		</div>
	</div>
</div>
</%block>
