<html lang="en">

<%!
	frame_title = '一盘美味的牛河'
%>

<head>

	<meta charset="utf-8">
	<title>${frame_title}</title>
	<meta name="description" content="${frame_title}">
	<meta name="author" content="ZIIPIN">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/devoops/plugins/bootstrap/bootstrap.css" rel="stylesheet">
	<link href="/static/devoops/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/devoops/css/fontface.css" rel='stylesheet' type='text/css'>
	<link href="/static/devoops/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="/static/devoops/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
	<link href="/static/devoops/plugins/xcharts/xcharts.min.css" rel="stylesheet">
	<link href="/static/devoops/plugins/select2/select2.css" rel="stylesheet">
	<link href="/static/devoops/plugins/justified-gallery/justifiedGallery.css" rel="stylesheet">
	<link href="/static/devoops/css/style_v${request.cookies.get('devoops_style_version', '2')}.css" rel="stylesheet">
	<link href="/static/devoops/plugins/chartist/chartist.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
			<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<header class="navbar">
		<div class="container-fluid expanded-panel">
			<div class="row">
				<div id="logo" class="col-xs-12 col-sm-2">
					<a href="#">${frame_title}</a>
				</div>
				<div id="top-panel" class="col-xs-12 col-sm-10">
					<div class="row">
						<div class="col-xs-12 col-sm-12 top-panel-right">
							<a href="#" id="toggle-style">
								<i class="fa fa-circle"></i>
								更换主题
							</a>
							<%block name="top_right">
							<ul class="nav navbar-nav pull-right panel-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
										<i class="fa fa-angle-down pull-right"></i>
										<div class="user-mini pull-right">
											<span class="welcome">欢迎,</span>
											<span>XX</span>
										</div>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">
												<i class="fa fa-user"></i>
												<span>修改密码</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-power-off"></i>
												<span>退出登陆</span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
							</%block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="main" class="container-fluid">
		<div class="row">
			<div id="sidebar-left" class="col-xs-2 col-sm-2">
				<%block name="side_menu">
				</%block>
			</div>
			<div id="content" class="col-xs-12 col-sm-10">
				<div id="ajax-content" style="position: relative">

                    <div class="row">
                        <div id="breadcrumb" class="col-xs-12">
                            <a href="#" class="show-sidebar">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ol class="breadcrumb pull-left">
                                % if scope:
                                    % for name in scope:
                                    <li><a href="#">${name}</a></li>
                                    % endfor
                                % endif
                                <li><a href="#">${title}</a></li>
                            </ol>
                        </div>
                    </div>

					<% flash_messages = get_flashed_messages(with_categories = True) %>
					% if flash_messages:
					<div class="row" style="position: absolute; z-index: 9999;">
						% for category, message in flash_messages:
                            <%
                                if 'error' == category:
                                    category = 'danger'
                            %>
						<div class="zp-alert-strip alert alert-${category}" style="margin-left: 400px">
							${message|h}
						</div>
						% endfor
					</div>
					% endif

                    ${next.body()}
				</div>
			</div>
		</div>
	</div>

	<script src="/static/devoops/plugins/jquery/jquery.min.js"></script>
	<script src="/static/devoops/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/devoops/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="/static/devoops/plugins/justified-gallery/jquery.justifiedGallery.min.js"></script>
	<script src="/static/devoops/plugins/tinymce/tinymce.min.js"></script>
	<script src="/static/devoops/plugins/tinymce/jquery.tinymce.min.js"></script>
	<!-- All functions for this theme + document.ready processing -->
	<script src="/static/devoops/js/devoops.js"></script>

	<script>
		$(function() {
			$('#toggle-style').on('click', function() {
				var cur = parseInt('${request.cookies.get('devoops_style_version', '2')}');
				if (1 != cur && 2 != cur) {
					cur = 2;
				}
				cur = 3 - cur;
				var exp = new Date();
				exp.setTime(exp.getTime + 30 * 86400 * 1000);
				document.cookie = 'devoops_style_version=' + cur + ';expires=' + exp.toGMTString() + ';path=/';;
				location.reload();
			});
		});
	</script>
	<%block name="scripts">
	</%block>
</body>

</html>
